dj-database-url==0.5.0
Django==3.0.7
django-filter==2.3.0
django-heroku==0.3.1
gunicorn==20.0.4
imageio==2.5.0
imagesize==1.1.0
importlib-metadata==0.17
json5==0.8.4
numba==0.44.1
numexpr==2.6.9
numpy==1.16.4
numpydoc==0.9.1
pandas==0.24.2
path.py==12.0.1
pathlib2==2.3.4
Pillow==8.1.1
pipenv==2020.6.2
py==1.8.0
pylint==2.3.1
pypi==2.1
virtualenv==20.0.25
virtualenv-clone==0.5.4
whitenoise==5.1.0
